/* ==========================================================================
   Font
   ========================================================================== */

   $Primory-font:'Lora', serif;

/* ==========================================================================
   Color
   ========================================================================== */

   $white:#e8e4e4;
   $black:#2d2d2d;
   $gold:#cbb58b;




   